langchain>=0.1.0
langchain-community>=0.0.19
langchain-huggingface>=0.0.6
cohere==4.53.0
unstructured>=0.10.6
Chromadb
huggingface-hub>=0.17.3
msoffcrypto-tool>=5.1.0
python_dotenv>=1.0.0
streamlit>=1.25.0
ipython>=8.0.0      # For IPython.display (in notebooks)
openpyxl>=3.1.2     # For Excel loading
sentence_transformers
networkx
fpdf
reportlab